@mixin transition(
  $properties: all,
  $duration: 0.2s,
  $ease: ease-in-out,
  $delay: 0s
) {
  transition-property: $properties;
  transition-duration: $duration;
  transition-timing-function: $ease;
  transition-delay: $delay;
}

$bg-color: #eff1f5;
$border-color: #f60062;
$box-shadow-color: rgba(0, 0, 0, 0.2);
$transition-time: 0.15s;
$transition-effect: ease-in-out;

body {
  background: $bg-color;
}

.image {
  position: relative;

  .image-checkbox {
    display: block;
    position: relative;
    cursor: pointer;

    input[type="checkbox"] {
      @extend %hiddenCheckbox;

      &:checked + .image-background {
        border-color: $border-color;
        outline: none;
      }
    }

    .image-background {
      width: 100%;
      height: var(
        --image-height,
        288px
      ); // set the default height to 300px to prevent all images from loading on page load
      box-shadow: 2px 2px 8px $box-shadow-color;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      border: 4px solid white;
      border-radius: 1px;
      @include transition(border-color);

      &::after {
        content: "";
        position: absolute;
        top: 12px;
        left: 12px;
        width: 16px;
        height: 16px;
        border: 2px dashed $border-color;
        border-radius: 4px;
        border-image: url("https://res.cloudinary.com/dcw3kjyjc/image/upload/v1710338706/imageedit_6_5570842697_qmxqzf.png")
          2 round;
        @include transition(
          border-color,
          $transition-time,
          $transition-effect,
          transform
        );
      }
    }

    &:focus-within {
      outline: 2px solid $border-color;
    }

    &:hover .image-background::after {
      transform: scale(1.2);
    }
  }
}

// Hidden input styling
%hiddenCheckbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
